<img class="whiteLogo" src="assets/whitelogo.png" alt="">
<div class="Basic-background"></div>

<div class="content">

    <div class="row">
        <br>
        <h1>Forgot Password</h1>
        <h6 class="information-text">Enter your email to reset your password</h6>
        <div class="form-group">
            <input type="email" name="user_email" id="user_email" placeholder="Email">
        </div>
    </div>
    
    
    <div class="center">
    <button class="button1">Reset Password</button>
        <p style="color:gray ; margin: 50px 0px 0px;">Don’t have an account?</p>
        <a class='forgot' href="http://localhost:4200/Sign_up1">Sign Up</a>
        <p style="color:gray ; margin: 20px 0px 0px;">Already have an account?</p>
        <a href="http://localhost:4200/logIn" class='forgot'>Log In</a>
      </div>