.content {
    height: 300px;
    width: 270px;

}

.button1 {
    font-weight: lighter;
    font-size: small;
    position: relative;
    background: linear-gradient(90deg, rgb(138, 198, 226) 0%, rgb(51, 74, 220) 100%);
    width: 100px;
    margin-top: 40px;
    display: inline-block;
    margin-left: auto;
    
    /* margin-left: 50px; */
}

.button2 {
    color: white;
    position: relative;
    background: linear-gradient(90deg, rgb(138, 198, 226) 0%, rgb(51, 74, 220) 100%);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: lighter;
    font-size: small;
    width: 100px;
    background-color: rgba(255, 255, 255, 0);
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    height: 40px;
    box-shadow: 2px 2px 4px #000000;
    margin-left: 50px;


}

.text {
    position: relative;
    width: 240px;
}

.Basic-background {
    height: 430px;
}

.msgCode {
    font-weight: lighter;
    position: relative;
    color: rgb(135, 141, 141);
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
}

.msgSendAgain {
    color: rgb(22, 99, 253);
    font-weight: lighter;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    text-decoration: underline;

}