<img class="whiteLogo" src="assets/whitelogo.png" alt="">
<div class="Basic-background"></div>

<div class="content">
    <br> <br> 
    <div class='form'>
   <div class="topic">Sign up</div>
      <form>
    <input type="number" placeholder='  Validation Code' class='text' id='validationCode' required><br>
    <h5 class="msgCode">Enter the code that was send to your email</h5>
    <br>
    
    <h5 class="msgSendAgain">Send again</h5>
      </form>
    </div>
  </div>

  <button class="button1" (click)="goToPrevious()">Previous</button>
  <button class="button2" (click)="goToNext()">Next</button>

  <div class="container">
    <div class="progress-container">
      <div class="progress" ></div>
      <div class="circle " data-title="My Details" ></div>
      <div class="circle active" data-title="Validation"></div>
      <div class="circle" data-title="Create Profile"></div>
    </div>
  </div>