.Basic-background {
    height: 450px;

}

.whiteLogo {
    width: 3.5cm;
}
.blur{
    /* position: fixed;
    backdrop-filter: blur(50px);
    background-color: rgba(111, 111, 111, 0.707); */
}
.search {
    color: rgb(152, 149, 149);
    background-color: white;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 150px;
    display: inline;
    border: 0px;
    font-size: smaller;
}

.searchIcon {
    width: 0.5cm;
}

.squareSearch {
    position: relative;
    bottom: 20px;
}

.btnSearch {
    position: relative;
    top: 5px;
    width: 35px;
    border-color: transparent;
    background-color: transparent;
}

.content {
    position: relative;
    bottom: 10px;
    height: 50px;
    border-radius: 15px;
}

/* .content{
    height:50px ;
    width: 275px;
    
 
} */

.h1BL {
    /* margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 10px; */
    position: relative;
    color: black;
    top: 10px;
    width: 190px;
    /* display: block; */
}



div .topic {

    text-align: left;
    color: black;
    position: relative;


}

.editNameImag {
    position: relative;
    bottom: 17px;
    right: 10px;
}

div .editName img {
    height: 27px;

}

.content div .editName {
    text-align: right;
    height: 40px;
}

.orderByBL {
    position: relative;
    right: 14px;
    display: block;
    text-align: right;

}

.eachOrderBy {
    padding-right: 10px !important;
    padding: 5px;
    right: 0;

}

.doneList {
    position: relative;
    top:40px;
    /* left: 20px; */
    width: 100px;
    color: white;
    background: linear-gradient(90deg, rgb(138, 198, 226) 0%, rgb(51, 74, 220) 100%);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: lighter;
    font-size: small;
    background-color: rgba(255, 255, 255, 0);
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    height: 40px;
    box-shadow: 2px 2px 4px #000000;
 
}
.DL {
    position: relative;
    display: block;
    text-align: right;
    margin-right: 0px;
    right: 14px;

}

.tableProduct{
    position: relative;
    /* right: 200px; */
    left: 0;
    display: flex;
    text-align: left;
    border-bottom:1px solid #000000;
    padding-bottom: 5px;
}

.tableProduct li{
    list-style-type: none;
    display: inline-block;
   
}


    .tableProduct li ::before {
    content: '';
    position: absolute;
    border-right:2px solid black;
    border-bottom:2px solid black;
    width:10px;
    height:10px;
    top: calc(50% - 4px);
    left: -20px;
    transform: translateY(-50%) rotate(-45deg);
}
.Test{
    color: black;
    position: relative;
}