<div class="my-container">
<img class="logo" src="assets/logo3.png" alt="">
<img class="logo" src="assets/pazeit.png" alt="" style="left: 50px; top: 0px;">
<div class="explanation">
    <p style="width: 280px; text-align: center;">
    Welcome to the PazeIt app where you can enjoy creating organized shopping lists
    that will make your shopping more convenient and efficient.
    You can share with friends and relatives
    Create shared lists and a variety of other actions you can perform.
    </p>
</div>

<button class="button1" (click)="goToBasicListComponent()" style="margin-top: 0px; background-color:dodgerblue">Lest get started</button>
</div>