.Basic-background {
    height: 390px;

}

.whiteLogo {
    width: 3.5cm;
}

.search {
    color: rgb(152, 149, 149);
    background-color: white;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 150px;
    display: inline;
    border: 0px;
    font-size: smaller;
}
li.CategoryProducts{
  list-style: none;
  /* display: flex; */
    list-style-image: none;
    
}
.searchIcon {
    width: 0.5cm;
}

.squareSearch {
    position: relative;
    bottom: 20px;
}

.btnSearch {
    position: relative;
    top: 5px;
    width: 35px;
    border-color: transparent;
    background-color: transparent;
}

.content{
    height: 400px;
    width: 300px;
    position: relative;
    bottom: 40px;

}


div .topic{
    color: rgb(57, 149, 191);
    font-size: 25px;
    font-weight: bolder;
    position: relative;
    left:85px;
      
    }
    
      hr {
        border: 1px solid rgb(202, 202, 202);
        border-radius: 5px;
    
    }
    div .contentHome {
        overflow: scroll;
        overflow-x: hidden;
        height: 320px;
    padding-left: 30px;
    padding-right: 20px;

    
    }
    .button1{
        font-weight: lighter;
        font-size: small;
       font-weight: bolder;
        position: relative;
        bottom: 40px;
        background: rgb(250, 180, 179);
        width:150px;
        height: 30px;
        right: 5px;
        margin: 0px;
        display: inline-block;
      }
      .button2{
        font-weight: lighter;
        background: linear-gradient(90deg, rgb(242, 85, 83) 0%, rgb(247, 125, 106) 100%);

        font-size: small;
       font-weight: bolder;
        position: relative;
        bottom: 40px;
        left: 5px;
        width:150px;
        height: 30px;
        margin: 0px;
        border-radius: 50px;
        color: white;
        border-color: white;
        border-width: 1px;
        border-style: solid;
        font-weight: bold;
        box-shadow: 2px 2px 4px #000000;
        display: inline;
      }



      div .contentHome {
        overflow: scroll;
        overflow-x: hidden;
        height: 320px;
    
    
    }
    ul .list{
        display: flex;
        margin-bottom: 7px;
    }
    .productPic {
        width: 50px;
        position: relative;
        top: 10px;
        
    
    }

    .listpic{
        border-radius: 50px;
    }
    .addIcon {
        width: 35px;
        /* position: relative; */
        top: 60px;
        left: 50px;
        align-items: center;
        text-align: center;
        margin-top: auto;
        top: auto;
    }
    .form-control-num{
        font-size: 16px;
        font-weight: lighter;
        color: black;
    }
    .listAddIcon{
        margin-top: auto;
        margin-bottom: auto;
      align-items: end;
         left: auto;
         margin-left: auto;
     }
     #home{
        position: relative;
        top: 5px;
     }

     


.addOdDec{
    /* margin-top: 15px; */
    opacity: 1;
    margin-right: 25px;
    margin-left:auto;
    height: 25px;
    width: 80px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: #3171e0;
   border-radius: 64px;
   margin-top: auto;
   margin-bottom: auto;
  }
  .addOdDec span{
    width: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    /* background: #FFF; */
    color: white;
    text-align: center;
    /* border-radius: 12px; */
    /* box-shadow: 0 5px 10px rgba(0,0,0,0.2); */
  }
  .addOdDec input{
    width:25px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    margin-right: 10px;
    margin-left: 10px;
    height: max-content;
    border: 0px 0px 0px 0px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .addOdDec span.num{
  
  
    /* border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2); */
    pointer-events: none;
    text-align: center;
    font-size:15px ;
  }
  .addOdDec .minus{
    text-align: center;
    font-size:15px ;
    font-weight: bolder;
  }
  .list p{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
  div .contentHome2 {
    overflow: scroll;
    overflow-x: hidden;
    height: 250px;
  width: fit-content;
  padding-left: 10px;
  
  }
  