<div class="my-container">


    <div  [ngClass]="clickedOnProduct==true? ' blur':'' ">
    
    <img class="whiteLogo" src="assets/whitelogo.png" alt="">
    
    
    <div class="Basic-background"></div>
    <div class="squareSearch">
      <input [(ngModel)]="search" class="search" placeholder="Search for Item" value=>
      <button class="btnSearch" (click)="searchForItem()"> <img class="searchIcon" src="assets/search-icon.png"></button>
    
    </div>
    <br>
    <br>
    
    
    <div class="content">
      <br>
      <div class="topic" [style.left]="ScreenMood==false?'60px':'85px'">
        <ion-icon style="display: inline-block; ;" *ngIf="ScreenMood==false" name="arrow-undo-outline" 
        (click)="ScreenMood=!ScreenMood"></ion-icon>
        Home 
      </div>

      <ul class="contentHome" *ngIf="ScreenMood==true">
        <hr>
        <li class="CategoryProducts" *ngFor="let a of allCategory">
       
          <div class="titleCategory"   (click)="changMood(a)" >
            <ion-icon name="caret-forward-outline"></ion-icon>
            {{a.categoryName}}<i class="arrowFV right"></i>
          </div>
          <hr>
        </li>
      </ul>

      <ul class="contentHome" *ngIf="ScreenMood==false"  >
        <hr style="width: 200px;margin-left: 0px;margin-right: 0px;">
           <li class="list" *ngFor="let p of CategoryAndProducts[categoryMood];let i=index;">
             <img class="productPic listpic" src={{p.barcode}} alt=""> <br>
             <p>{{p.productName}}</p>

              <div class="wrapper" *ngIf="oneTimeListService.ProductToOneTimeList[p.Id!].quantity!=0 ">
               <span (click)="addORincOne(p,-1)" class="minus"><ion-icon name="remove"></ion-icon></span>
       
               <input name="qty"
                 [(ngModel)]="oneTimeListService.ProductToOneTimeList[p.Id!].quantity" #quantity type="number" id="quantity"
                 name="quantity" class="form-control-num" min="1" max="100">
       
               <span (click)="addORincOne(p,+1)" class="plus"><ion-icon name="add"></ion-icon></span>
       
             </div>

             <img  *ngIf="oneTimeListService.ProductToOneTimeList[(p.Id!)].quantity==0" (click)="addORincOne(p,+1)"
              class="addIcon listAddIcon" src="assets/addIcon.png" alt="">
           </li>
         
          
         
       </ul>


    </div>

    <div class="center">
        <button class="button1"(click)="goToHome()">List Category</button>
        <button class="button2">Category</button>
    </div>
    
    
        <div class="menu">
        <nav class="nav">
              <ul>
                   <li [ngClass]="menuList[0]==true?'active':''" (click)="setActiveLink(0,'home')" id="home"class="list">
                     <a >
                       <span class="icon">
                         <ion-icon name="home-outline"></ion-icon>
                       </span>
                       <span class="text">Home</span>
                     </a>
                   </li>
                   <li [ngClass]="menuList[1]==true?'active':''" (click)="setActiveLink(1,'myAccount')" class="list">
                     <a >
                       <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                       </span>
                       <span class="text">My account</span>
                     </a>
                   </li>
                   <li [ngClass]="menuList[2]==true?'active':''" (click)="setActiveLink(2,'HistoryLists')" class="list">
                     <a >
                       <span class="icon">
                        <ion-icon name="refresh-circle-outline"></ion-icon>
                       </span>
                       <span class="text">History</span>
                     </a>
                   </li>
                   <li [ngClass]="menuList[3]==true?'active':''" (click)="setActiveLink(3,'listOfAllMyBasicLists')" class="list">
                     <a >
                       <span class="icon">
                        <ion-icon name="reader-outline"></ion-icon>
                       </span>
                       <span class="text">Basics lists</span>
                     </a>
                   </li>
                   <li [ngClass]="menuList[4]==true?'active':''" (click)="setActiveLink(4,'myCart')" class="list">
                     <a >
                       <span class="icon">
                        <ion-icon name="cart-outline"></ion-icon>
                       </span>
                       <span class="text">my cart</span>
                     </a>
                   </li>
                         <div class="indicator"></div>
             
                   
              </ul>
            </nav>
         </div> 
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    
    </div>
    
    </div>