<img class="whiteLogo" src="assets/whitelogo.png" alt="">
<div class="Basic-background"></div>
<div class="content">
  <br>
  <div class='form'>
    <div class="topic">Change Password</div><br>
    <div class="allInfo">


      <form [formGroup]="PasswordForm">
        <div class="personalInfo">
          <span class="details_myAccount">Current Password:</span><br>
          <input formControlName="currentPssword" type="password" #currentPass value="" class='text'><br>
          <small *ngIf="this.user.password!=currentPass.value &&PasswordForm.controls['currentPssword'].touched&&currentPass.value!=''"
            class="text-danger">password doesn't match the current password</small>
        </div>

        <div class="personalInfo"><span class="details_myAccount">New Password:</span><br>
          <input #newPassword formControlName="newPassword" type="password" value="" class='text'><br>

          <div
            *ngIf="PasswordForm.controls['newPassword'].invalid && PasswordForm.controls['newPassword'].touched ">
            <small *ngIf="PasswordForm.controls['newPassword'].errors?.['required']" class="text-danger">A primary
              password is required</small>
            <small *ngIf="PasswordForm.controls['newPassword'].errors?.['minlength']" class="text-danger">It must be at
              least 8 characters length</small>
          </div>
        </div>

        <div class="personalInfo"><span class="details_myAccount">Confirm new Password:</span><br>
          <input formControlName="ConfirmPassword" #confirmNewPassword type="password" value="" class='text'><br>

          <div
          *ngIf="PasswordForm.controls['ConfirmPassword'].invalid && PasswordForm.controls['ConfirmPassword'].touched ">
          <small *ngIf="PasswordForm.controls['ConfirmPassword'].errors?.['required']" class="text-danger">Password verification is missing <br></small>
          <small *ngIf="newPassword.value!=confirmNewPassword.value">Passwords do not match</small>
        </div>

        </div>




      </form>
      <div *ngIf="changPassword==true" class="personalInfo"style="text-align: center;"><span class="details_myAccount" style="text-align: center;">The password has been changed<br>successfully</span><br></div>
    </div>
  </div>
</div>

<button class="button1" (click)="ResetPassword(newPassword.value, confirmNewPassword.value,currentPass.value)"
[style.background] =" (currentPass.value==user.password)&&(newPassword.value==confirmNewPassword.value) &&(newPassword.value!='')&&(newPassword.value.length>=8)
? 'linear-gradient(90deg, rgb(138, 198, 226) 0%, rgb(51, 74, 220) 100%)' :('rgb(127, 126, 126)' )" 
(click)="newPassword.value=''" (click)="confirmNewPassword.value=''" (click)="currentPass.value='' "
>Reset Password</button>



<div class="menu">
  <nav class="nav">
    <ul>
      <li [ngClass]="menuList[0]==true?'active':''" (click)="setActiveLink(0,'home')" class="list">
        <a>
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="text">Home</span>
        </a>
      </li>
      <li [ngClass]="menuList[1]==true?'active':''" (click)="setActiveLink(1,'myAccount')" class="list">
        <a>
          <span class="icon">
            <ion-icon name="person-outline"></ion-icon>
          </span>
          <span class="text">My account</span>
        </a>
      </li>
      <li [ngClass]="menuList[2]==true?'active':''" (click)="setActiveLink(2,'HistoryLists')" class="list">
        <a>
          <span class="icon">
            <ion-icon name="refresh-circle-outline"></ion-icon>
          </span>
          <span class="text">History</span>
        </a>
      </li>
      <li [ngClass]="menuList[3]==true?'active':''" (click)="setActiveLink(3,'BLchooseProduct')" class="list">
        <a>
          <span class="icon">
            <ion-icon name="reader-outline"></ion-icon>
          </span>
          <span class="text">Basics lists</span>
        </a>
      </li>
      <li [ngClass]="menuList[4]==true?'active':''" (click)="setActiveLink(4,'myCart')" class="list">
        <a>
          <span class="icon">
            <ion-icon name="cart-outline"></ion-icon>
          </span>
          <span class="text">my cart</span>
        </a>
      </li>
      <div class="indicator"></div>


    </ul>
  </nav>
</div>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>