.content {
    height: 280px;
    width: 270px;
}

.button1 {
    font-weight: lighter;
    font-size:15px;
    color: white !important;
    font-weight: bold;
    position: relative;
    background: linear-gradient(90deg, rgb(138, 198, 226) 0%, rgb(51, 74, 220) 100%);
    width: 210px;
    margin-top: 80px;
}


.Basic-background {
    height: 430px;
}

* {

    padding: 0;
    box-sizing: border-box;
    font-family: "segoe ui", verdana, helvetica, arial, sans-serif;
    font-size: 16px;
    transition: all 500ms ease;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" on;
}

.row {
    margin-top: 0px !important;
    color: rgb(57, 149, 191);
    /* text-align: center; */
    /* padding: 2em 2em 0.5em; */
    width: 90%;
    margin: 2em auto;
    border-radius: 5px;
}

.row h1 {
    font-size: 25px;
}

.row .form-group label {
    display: block;
    color: rgb(123, 128, 128);
    text-align: left;
    font-weight: 500;
    border: #1349c9 solid 1px;
    
}

.row .form-group input,
.row .form-group button {
    display: block;
    padding: 0.5em 0;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 0.5em;
    background-color: inherit;
    border: none;
    border-bottom: black solid 1px;
    color: rgb(123, 128, 128);
    
}

.row .form-group input:focus,
.row .form-group button:focus {
    color: rgb(123, 128, 128);
    /* border: none; */
    padding: 0.5em;
    animation: pulse 1s infinite ease;
    border: #1349c9 solid 1px;
    
}


.row .form-group button {

    outline: none;
    -moz-user-select: none;
    user-select: none;


    cursor: pointer;
    margin-top: 2em;
    padding: 1em;
}

.row .form-group button:hover,
.row .form-group button:focus {
    background-color: #fff;
}

.row .form-group button.is-loading::after {
    animation: spinner 500ms infinite linear;
    content: "";
    position: absolute;
    margin-left: 2em;
    border: 2px solid #000;
    border-radius: 100%;
    border-right-color: transparent;
    border-left-color: transparent;
    height: 1em;
    width: 4%;
}

.row .footer h5 {
    margin-top: 1em;
}

.row .footer p {
    margin-top: 2em;
}

.row .footer p .symbols {
    color: #444;
}

.row .footer a {
    color: inherit;
    text-decoration: none;
}

.information-text {
    color: rgb(123, 128, 128);
    font-weight: lighter;
    margin: 0;
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 320px) {
    .row {
        padding-left: 1em;
        padding-right: 1em;
    }

    .row h1 {
        font-size: 1.5em !important;
    }
}

@media screen and (min-width: 900px) {
    .row {
        width: 50%;
    }
}
.container{
    margin-top: 280px;
  
  }