<div class="my-container">


  <div [ngClass]="clickedOnProduct==true? ' blur':'' ">

    <img class="whiteLogo" src="assets/whitelogo.png" alt="">


    <div class="Basic-background"></div>
    <div class="squareSearch">
      <input [(ngModel)]="search" class="search" placeholder="Search for Item" value=>
      <button class="btnSearch" (click)="searchForItem()"> <img class="searchIcon"
          src="assets/search-icon.png"></button>

    </div>
    <br>
    <br>


    <div class="content">
      <br>
      <div class="topic">Home</div>
      <div   class="contentHome">
        <ul *ngFor="let a of allCategory" class="CategoryProducts" >
          <div class="titleCategory" id={{a.categoryName}}>
            <p>{{a.categoryName}}</p>
          </div>
          <div class="allProducts">
            <div  *ngFor="let p of CategoryAndProducts[a.Id!];let i=index;">
            <li  *ngIf="i<3" class="products">
              <img class="addIcon" src="assets/addIcon.png" alt=""> {{p.productName}}</li>
              <li *ngIf="i==3" class="products"><ion-icon name="caret-forward-circle-outline"></ion-icon></li>
            </div>
           
          </div>
          

        </ul>

        <!-- <ul class="CategoryProducts">
          <div class="titleCategory" id="DairyAndEggs">
            <p>Dairy & Eggs</p>
          </div>
          <div class="allProducts">
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
          </div>
        </ul> -->

        <!-- <ul class="CategoryProducts">
          <div class="titleCategory" id="BreadAndBakery">
            <p>Bread & Bakery</p>
          </div>
          <div class="allProducts"> -->
            <!-- <div>
              <ul class="tableProduct" *ngFor="let a of allMainProduct ">
                <ion-icon name="caret-forward-outline"></ion-icon>
                <li (click)="getAllProducts(a) ">{{a.productName}} </li>

              </ul>

            </div> -->
            <!-- <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
          </div>
        </ul> -->


<!-- 
        <ul class="CategoryProducts">
          <div class="titleCategory" id="Beverages">
            <p>Beverages</p>
          </div>
          <div class="allProducts">
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
            <li class="products"><img class="addIcon" src="assets/addIcon.png" alt=""></li>
          </div>
        </ul> -->
      </div>

    </div>
    <div class="center">
      <div class="center">
        <!-- <button class="button1">List Category</button>
        <button class="button2" (click)="goToCategory()">Category</button> -->
      </div>
    </div>


    <div class="menu">
      <nav class="nav">
        <ul>
          <li [ngClass]="menuList[0]==true?'active':''" (click)="setActiveLink(0,'home')" class="list">
            <a>
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="text">Home </span>
            </a>
          </li>
          <li [ngClass]="menuList[1]==true?'active':''" (click)="setActiveLink(1,'myAccount')" class="list">
            <a>
              <span class="icon">
                <ion-icon name="person-outline"></ion-icon>
              </span>
              <span class="text">My account</span>
            </a>
          </li>
          <li [ngClass]="menuList[2]==true?'active':''" (click)="setActiveLink(2,'HistoryLists')" class="list">
            <a>
              <span class="icon">
                <ion-icon name="refresh-circle-outline"></ion-icon>
              </span>
              <span class="text">History</span>
            </a>
          </li>
          <li [ngClass]="menuList[3]==true?'active':''" (click)="setActiveLink(3,'listOfAllMyBasicLists')" class="list">
            <a>
              <span class="icon">
                <ion-icon name="reader-outline"></ion-icon>
              </span>
              <span class="text">Basics lists</span>
            </a>
          </li>
          <li [ngClass]="menuList[4]==true?'active':''" (click)="setActiveLink(4,'myCart')" class="list">
            <a>
              <span class="icon">
                <ion-icon name="cart-outline"></ion-icon>
              </span>
              <span class="text">my cart</span>
            </a>
          </li>
          <div class="indicator"></div>


        </ul>
      </nav>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


  </div>

</div>