.Basic-background {
    height:390px;
}

.whiteLogo {
    width: 3.5cm;
}

.search {
    color: rgb(152, 149, 149);
    background-color: white;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 150px;
    display: inline;
    border: 0px;
    font-size: smaller;
}

.searchIcon {
    width: 0.5cm;
}

.squareSearch {
    position: relative;
    bottom: 20px;
}

.btnSearch {
    position: relative;
    top: 5px;
    width: 35px;
    border-color: transparent;
    background-color: transparent;
}

.content {
    height: 400px;
    width: 300px;
    position: relative;
    bottom: 40px;


}


div .topic {
    color: rgb(57, 149, 191);
    font-size: 25px;
    font-weight: bolder;
    position: relative;
    left: 85px;

}

div .contentHome {
    overflow: scroll;
    overflow-x: hidden;
    height: 320px;


}

ul.CategoryProducts {
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 25px;
    position: relative;
    box-shadow: 2px 2px 4px #000000;
    padding: 0px;


}

.titleCategory {
    position: relative;
    margin: 0px;
    padding-bottom: 1px;
    border-radius: 10px;
    background-size: cover;
    color: rgb(255, 255, 255);

}

.titleCategory::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(82, 82, 82, 0.558);
    border-radius: 10px;
}

#recentPro::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255, 0);
    border-radius: 10px;

}

#recentPro {
    color: #000000;
}

#FruitsAndVegetables {
    background-image: url("/../assets/FandV.png");
    background-color: rgba(82, 82, 82, 0.558);
}

#DairyAndEggs {
    background-image: url("/../assets/milkdairy.png");
}

#BreadAndBakery {
    background-image: url("/../assets/bakery.png");
}

#Beverages {
    background-image: url("/../assets/drinks.png");
}

.titleCategory p {
    position: relative;
    left: 20px;
    top: 5px;
}

.allProducts {
    overflow: scroll;
    overflow-y: hidden;
    position: relative;
    min-width: 0px;
    margin: 0px;
    width: 300px;
    height: 150px;
    display: flex;
    border-top: 1px solid rgb(239, 239, 239);
    list-style: none;
    scroll-snap-type: x mandatory;


}

li.products {
    width: 100px;
    height: 150px;
    border-left: 1px solid rgb(239, 239, 239);
    border-right: 1px solid rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    flex: 0 0 35%;
    scroll-snap-align: start;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    align-items: center;
}

.CategoryProducts:first-child {
    margin-right: 20px;
}

.arrow {
    border: solid rgb(198, 194, 194);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    left: 110px;
}

.arrowFV {
    border: solid rgb(198, 194, 194);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    left: 90px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

hr {
    border: 1px solid rgb(239, 239, 239);
    border-radius: 5px;

}

.addIcon {
    width: 35px;
    /* position: relative; */
    top: 60px;
    left: 50px;
    align-items: center;
    text-align: center;
    margin-top: auto;
    top: auto;
}
.productPic {
    width: 50px;
    position: relative;
    top: 10px;
    

}
.button1 {
    font-weight: lighter;
    background-color: rgb(240, 100, 98);
    font-size: small;
    font-weight: bolder;
    position: relative;
    bottom: 70px;
    background: linear-gradient(90deg, rgb(242, 85, 83) 0%, rgb(247, 125, 106) 100%);
    width: 150px;
    height: 30px;
    right: 5px;
    margin: 0px;
    display: inline-block;
}

.button2 {
    font-weight: lighter;
    background-color: rgb(240, 100, 98);
    font-size: small;
    font-weight: bolder;
    position: relative;
    bottom: 70px;
    left: 5px;
    background: rgb(250, 180, 179);
    width: 150px;
    height: 30px;
    margin: 0px;
    border-radius: 50px;
    color: white;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    box-shadow: 2px 2px 4px #000000;
    display: inline;
}



.blur{
 
    width: max-content; 
    height:300px; 
    top: -2%; 
    left: -2%;
    backdrop-filter: 
    blur(2.5px);
    z-index: 4;
    background-color: rgba(128, 128, 128, 0.452);
}
ul .list{
    display: flex;
    margin-bottom: 7px;
}
.listpic{
    border-radius: 50px;
}
.listAddIcon{
   margin-top: auto;
   margin-bottom: auto;
 align-items: end;
    left: auto;
    margin-left: auto;
}
#home{
    position: relative;
    top: 5px;
 }