
<div  class="backgroundForList" style="border: 3px, black, solid; height: 250px;" data-closable  
*ngIf="showPage==true">

<div style="width: 100%; align-items: flex-end;text-align: right;">
<button (click)="closeDiv()" id="Xstyle" class="close-button" aria-label="Close alert" type="button" data-close >
  <span  id="closeX"aria-hidden="true"><ion-icon name="close-circle-outline"></ion-icon>
  </span>
  
</button>
</div>
<div class="explanationDepartment">
    <p >When creating your shopping list at the home component, you can see the items by category.
         <br> This allows you to easily view and organize all the products that fall under each category. 
        <br> You also have the option to select the desired quantity of each product, which will then be added to your shopping cart for checkout.

        
    </p>
    <button class="button1" (click)="closeDiv()">Got it!</button>
</div>

</div>

