<img class="whiteLogo" src="assets/whitelogo.png" alt="">
<div class="Basic-background"></div>
<div class="content">
  <br>
  <div class='form'>
    <div class="topic">My Account</div><br>
    <div class="allInfo">


      <form [formGroup]="userForm">
        <div class="personalInfo"><span class="details_myAccount">Name:</span><br>
          <input formControlName="userName" type="text" #Name [value]="user.userName" class='text' name="Name"><br>
        </div>

        <div *ngIf="(userForm.controls['userName'].invalid)">
          <small *ngIf="Name.value==''" class="text-danger">Primary name is required</small>
        </div>

        <div class="personalInfo"><span class="details_myAccount">Last Name:</span><br>
          <input formControlName="userLstName" type="text" #userLastName [value]="user.userLastName" name="userLastName"
            class='text'><br>
        </div>

        <div *ngIf="(userForm.controls['userLstName'].invalid)">
          <small *ngIf="userLastName.value==''" class="text-danger">Primary name is required</small>
        </div>


        <!-- <div class="personalInfo"><span class="details_myAccount">Email:</span><br>
          <input formControlName="userEmail" type="email" #email name="email" [value]="user.email" class='text'><br>
        </div> -->
        <!-- <div *ngIf="(userForm.controls['userEmail'].invalid)">
          <small *ngIf="userLastName.value==''" class="text-danger">Primary name is required</small>
          <small *ngIf="userForm.controls['userEmail'].errors?.['email']!=null" class="text-danger">Please provide a
            valid email address</small>
        </div> -->
        <button class="changePass" (click)="goToChangeEmail()">Change Email</button><br>
        <button class="changePass" (click)="goToChangePass()">Change Password</button>


      </form>
    </div>
  </div>
</div>

<button class="button1" (click)="SaveChanges(Name.value,userLastName.value)">Save Changes</button>

<div class="center">
  <a class='forgot' href="http://localhost:4200/">Sign out</a>

</div>

<div class="menu">
  <nav class="nav">
    <ul>
      <li [ngClass]="menuList[0]==true?'active':''" (click)="setActiveLink(0,'home')" class="list">
        <a>
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="text">Home</span>
        </a>
      </li>
      <li [ngClass]="menuList[1]==true?'active':''" (click)="setActiveLink(1,'myAccount')" class="list">
        <a>
          <span class="icon">
            <ion-icon name="person-outline"></ion-icon>
          </span>
          <span class="text">My account</span>
        </a>
      </li>
      <li [ngClass]="menuList[2]==true?'active':''" (click)="setActiveLink(2,'HistoryLists')" class="list">
        <a>
          <span class="icon">
            <ion-icon name="refresh-circle-outline"></ion-icon>
          </span>
          <span class="text">History</span>
        </a>
      </li>
      <li [ngClass]="menuList[3]==true?'active':''" (click)="setActiveLink(3,'listOfAllMyBasicLists')" class="list">
        <a>
          <span class="icon">
            <ion-icon name="reader-outline"></ion-icon>
          </span>
          <span class="text">Basics lists</span>
        </a>
      </li>
      <li [ngClass]="menuList[4]==true?'active':''" (click)="setActiveLink(4,'myAccount')" class="list">
        <a>
          <span class="icon">
            <ion-icon name="cart-outline"></ion-icon>
          </span>
          <span class="text">my cart</span>
        </a>
      </li>
      <div class="indicator"></div>


    </ul>
  </nav>
</div>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>