.Basic-background {
    height: 430px;

}
.content{
    width: 300px;
    height: 450px;
}
.topic{
    text-align: center;
    margin: 0px;
}
.button1{
    font-weight: lighter;
    font-size: small;
   font-weight: bolder;
    position: relative;
    background: linear-gradient(90deg, rgb(138, 198, 226) 0%, rgb(51, 74, 220) 100%);
    width:210px ;
    margin-top: 40px;
  }
  .table{
    position: relative;
    left: 20px;
    width: max-content;
height: 300px;
}