/* 



div .InnerContent {
    overflow: scroll;
    overflow-x: hidden;
    height: 400px;
}
#click{
   border-radius: 20px; 
font-weight: bolder;
   text-align: center;
}
.name{
    position: relative;
    left: 10px;
}
.list{
    position: relative;
    left: 25px;
}
.delete{
    position: relative;
    left: 35px;
} */
.Basic-background {
    height: 385px;

}
.content{
    width: 300px;
    height: 80px;
}
.topic{
    text-align: center;
    margin: 0px;
}
/* .table{
    position: relative;
    left: 20px;
    width: max-content;
} */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  table.table{
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;

  }
  
  tr:nth-child(even) {
    background-color: #deedf4;
  }
  
  .add{
    color: #0b7eea;
    font-size: 30px;
  }
div .InnerContent {
    overflow: scroll;
    overflow-x: hidden;
    height: 320px;
    width: 100%;


}
.center .forgot {
    text-decoration: none;
    color: #45a4fb;
    position: relative;
  
  }
  
  .center {
    margin-top: 30px;
    text-align: center;
    position: relative;
  }
.button1{
    font-weight: lighter;
    font-size: small;
   font-weight: bolder;
    position: relative;
    background: linear-gradient(90deg, rgb(138, 198, 226) 0%, rgb(51, 74, 220) 100%);
    width:210px ;
    margin-top: 10px;
  }

  .msgCode {
    margin-top: 50px;
    font-weight: 500;
    position: relative;
    color: rgb(0, 0, 0);
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
}