<div class="my-container">
  <img class="whiteLogo" src="assets/whitelogo.png" alt="">
  <div class="Basic-background">

  </div>
  <div class="content">
    <br>
    <div class="topic">BasicList</div>
    <hr>
  </div>
  <div class="center">
    <div class="InnerContent" *ngIf="BasicListLists!=null">

      <table class="table">
        <thead>
          <tr>
            <th style="margin-right: 10px;">Name</th>
            <th scope="col" class="th">Add</th>
            <th scope="col" class="th">View List</th>
            <th scope="col" class="th">Delete</th>

          </tr>
        </thead>
        <hr>
        <tbody>

          <tr *ngFor="let b of BasicListLists">
            <td class="name">{{b.name}}</td>

            <td scope="row" class="add"><ion-icon name="add-circle"></ion-icon> </td>


            <td class="list" id="click" ><a (click)="ViewList(b)">Click</a></td>

            <td class="delete" id="delete"><a  (click)="DelelteList(b)">Delete</a></td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>

  <div class="msgCode" *ngIf="BasicListLists==null">You haven't created a must-have collection yet!<br> <br>
    Click the button to create a new collection!</div>


  <button class="button1" (click)="goToBasicListComponent()">Add Must-Have List</button>




  <div class="menu" style="z-index: 3;">
    <nav class="nav">
      <ul>
        <li [ngClass]="menuList[0]==true?'active':''" (click)="setActiveLink(0,'home')" class="list">
          <a>
            <span class="icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="text">Home </span>
          </a>
        </li>
        <li [ngClass]="menuList[1]==true?'active':''" (click)="setActiveLink(1,'myAccount')" class="list">
          <a>
            <span class="icon">
              <ion-icon name="person-outline"></ion-icon>
            </span>
            <span class="text">My account</span>
          </a>
        </li>
        <li [ngClass]="menuList[2]==true?'active':''" (click)="setActiveLink(2,'HistoryLists')" class="list">
          <a>
            <span class="icon">
              <ion-icon name="refresh-circle-outline"></ion-icon>
            </span>
            <span class="text">History</span>
          </a>
        </li>
        <li [ngClass]="menuList[3]==true?'active':''" (click)="setActiveLink(3,'listOfAllMyBasicLists')" class="list">
          <a>
            <span class="icon">
              <ion-icon name="reader-outline"></ion-icon>
            </span>
            <span class="text">Must-Have</span>
          </a>
        </li>
        <li [ngClass]="menuList[4]==true?'active':''" (click)="setActiveLink(4,'myCart')" class="list">
          <a>
            <span class="icon">
              <ion-icon name="cart-outline"></ion-icon>
            </span>
            <span class="text">my cart</span>
          </a>
        </li>
        <div class="indicator"></div>


      </ul>
    </nav>
  </div>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>