.Basic-background {
  height: 425px;
}

.content {
  height: 100px;
  width: 270px;
  position: relative;
  bottom: 20px;
}

div .topic {
  color: rgb(57, 149, 191);
  font-size: 30px !important;
  font-weight: bolder;
  text-align: center;
  position: relative;
  top: 30px;
  right: 10px;

}

.text-danger {
  position: relative;
  left: 20px;
  color: red;
  font-style: italic;
}

input.text {
  margin-top: 3px !important;
  position: relative;
  width: 250px !important;

}

.table {
  overflow: scroll;
  overflow-x: hidden;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: #deedf4;
}

.add {
  color: #0b7eea;
  font-size: 30px;
}


.center {

  text-align: center;
  position: relative;
  margin-top: 0px;
  overflow: scroll;

}

div .InnerContent {
  overflow: scroll;
  overflow-x: hidden;
  height: 370px;
  width: 100%;


}

.button1 {
  font-weight: lighter;
  font-size: small;
  font-weight: bolder;
  position: relative;
  background: linear-gradient(90deg, rgb(138, 198, 226) 0%, rgb(51, 74, 220) 100%);
  width: 210px;
  margin-top: 40px;
}