
<div  class="backgroundForList" style="border: 3px, black, solid; height: 250px;" data-closable  
*ngIf="showPage==true">

<div style="width: 100%; align-items: flex-end;text-align: right;">
<button (click)="closeDiv()" id="Xstyle" class="close-button" aria-label="Close alert" type="button" data-close >
  <span  id="closeX"aria-hidden="true"><ion-icon name="close-circle-outline"></ion-icon>
  </span>
  
</button>
</div>
<div class="explanationDepartment">
    <p >The Must-Have list will help you identify the products that are essential for your shopping needs. 
       <br> For instance, if you frequently use carrots in your cooking, you can add them to your must-have list.
       <br>  Additionally, you can customize the name of the list to distinguish it from others and easily identify it based on the occasion.
        
    </p>
    <button class="button1" (click)="closeDiv()">Got it!</button>
</div>

</div>

