
<div class="backgroundForList" style="border: 3px, black, solid;" data-closable  >
<button id="Xstyle" class="close-button" aria-label="Close alert" type="button" data-close >
  <span id="closeX"aria-hidden="true">&times;</span>
</button>

<div class="backgroundForList" style="border: 3px, black, solid;" *ngIf="showPage==true">
<p class="Xstyle">x</p>


 <div style="text-align:left ; left:0; ">
    <ul class="tableProduct"  *ngFor="let a of Products ">
        <li class="productName" >{{a.productName}} </li>
       
        <div class="wrapper">
            <span (click)="addORincOne(-1)" class="minus">-</span>
            <input #quantity type="number" id="quantity" name="quantity" class="form-control num" value=1 min="1" max="100">
            <span (click)="addORincOne(+1)" class="plus">+</span>
          </div>
        
       <ion-button (click)="addProduct(a)" class="addProductButton" shape="round">add</ion-button>
    </ul>
</div>
</div>
